@media (max-width: 544px) {
    .avatar-table img {
        display: none;
    }
}

@media (min-width: 544px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1270px) {

}

@media (min-width: 1920px) {

}

body {
    padding-top: 70px;
}

.content-search {
    margin-top: 10px;
}

.content-header h2 {
    margin-top: 10px;
}

.sidebar .nav .btn .fa {
    margin-right: 3px;
}

.media .media-deadline {
    padding: 6px;
}

.media .task-user-count-label:hover,
.media .task-comments-count-label:hover,
.media .task-read-more-button:hover {
    text-decoration: none;
}

.media .task-user-count-label,
.media .task-comments-count-label,
.media .task-read-more-button .btn {
    margin-top: 5px;
}

.sidebar .nav-stacked .create-new .btn-default {
    background-color: #5cb85c;
    color: #fff;
}

.sidebar .nav-stacked .create-new .btn-default:hover {
    color: #333;
}

.task-lists .task-new .task-icon .fa:before {
    content: "\f067";
    color: #2ecc71;
}

.task-lists .task-pause .task-icon .fa:before {
    content: "\f28c";
    color: #f1c40f;
}

.task-lists .task-in-work .task-icon .fa:before {
    content: "\f118";
    color: #2ecc71;
}

.task-lists .task-in-work-deadline-24 .task-icon .fa:before {
    content: "\f12a";
    color: #e67e22;
    padding-left: 12px;
    padding-right: 15px;
}

.task-lists .task-in-work-deadline-3 .task-icon .fa:before {
    content: "\f1e2";
    color: #c0392b;
}

.task-lists .task-success .task-icon .fa:before {
    content: "\f046";
    color: #2ecc71;
}

.task-lists .task-failed .task-icon .fa:before {
    content: "\f05e";
    color: #c0392b;
}

.task-lists .task .task-footer .fa {
    color: #999;
}

.task-lists .task {
    margin-top: 35px;
}

.footer {
    background: #303641 none repeat scroll 0 0;
    margin-top: 50px;
    padding-bottom: 50px;
    padding-top: 20px;
}

.footer h4 {
    color: #ddd;
    padding-left: 15px;
}

.footer .nav a {
    color: #fff;
}

.footer .nav a:hover {
    color: #333;
}

.team-user-select {
    min-height: 180px;
}

.color-red {
    color: #d43f3a;
}

.color-green {
    color: #398439;
}

#statusLog .status-log-img {
    max-width: 64px;
}

.task-status-creation-time {
    font-size: 12px;
    color: #949494;
}

.task-status-autor-name {
    font-size: 12px;
    font-weight: bold;
    color: #ec5956;
}

.additional-fields {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.additional-fields input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.avatar-table {

}

.avatar-table img {
    max-width: 50px;
    max-height: 50px;
}

.avatar-table .avatar {
    max-width: 55px;
}

.avatar-table td {
    padding-top: 20px !important;
}

.avatar-table .cell-btn-edit {
    padding-top: 13px !important;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.visitor-menu button {
    border-width: 0;
}

.visitor-img {
    text-align: center;
    margin-bottom: 10px;
}

.visitor-img img {
    max-width: 120px;
    max-height: 120px;

    border: 1px solid #ebeff2;
}