@media (max-width: 544px) {
    .avatar-table img {
        display: none;
    }
}

@media (min-width: 544px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1270px) {

}

@media (min-width: 1920px) {

}

body {
    padding-top: 70px;
}

.content-search {

}

.content-header h2 {
    margin-top: 10px;
}

.sidebar .nav .btn .fa {
    margin-right: 3px;
}

.media .media-deadline {
    padding: 6px;
}

.media .task-user-count-label:hover,
.media .task-comments-count-label:hover,
.media .task-read-more-button:hover {
    text-decoration: none;
}

.media .task-user-count-label,
.media .task-comments-count-label,
.media .task-read-more-button .btn {
    margin-top: 5px;
}

.sidebar .nav-stacked .create-new .btn-default {
    background-color: #5cb85c;
    color: #fff;
}

.header-row {
    margin-bottom: 20px;
}

.control-panel-row {
    margin-bottom: 20px;
}

.control-panel-row .content-header {

}
.control-panel-row .control-panel-label {
    margin-top: 5px;
    text-align: right;
}

.sidebar .nav-stacked .create-new .btn-default:hover {
    color: #333;
}

.task-lists .task-new .task-icon .fa:before {
    content: "\f067";
    color: #2ecc71;
}

.task-lists .task-pause .task-icon .fa:before {
    content: "\f28c";
    color: #f1c40f;
}

.task-lists .task-in-work .task-icon .fa:before {
    content: "\f118";
    color: #2ecc71;
}

.task-lists .task-in-work-deadline-24 .task-icon .fa:before {
    content: "\f12a";
    color: #e67e22;
    padding-left: 12px;
    padding-right: 15px;
}

.task-lists .task-in-work-deadline-3 .task-icon .fa:before {
    content: "\f1e2";
    color: #c0392b;
}

.task-lists .task-success .task-icon .fa:before {
    content: "\f046";
    color: #2ecc71;
}

.task-lists .task-failed .task-icon .fa:before {
    content: "\f05e";
    color: #c0392b;
}

.task-lists .task .task-footer .fa {
    color: #999;
}

.task-lists .task {
    margin-top: 35px;
}

.footer {
    background: #303641 none repeat scroll 0 0;
    margin-top: 50px;
    padding-bottom: 50px;
    padding-top: 20px;
}

.footer h4 {
    color: #ddd;
    padding-left: 15px;
}

.footer .nav a {
    color: #fff;
}

.footer .nav a:hover {
    color: #333;
}

.team-user-select {
    min-height: 180px;
}

.color-red {
    color: #d43f3a;
}

.color-green {
    color: #398439;
}

#statusLog .status-log-img {
    max-width: 64px;
}

.task-status-creation-time {
    font-size: 12px;
    color: #949494;
}

.task-status-autor-name {
    font-size: 12px;
    font-weight: bold;
    color: #ec5956;
}

.additional-fields {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.additional-fields input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.avatar-table {

}

.avatar-table img {
    max-width: 50px;
    max-height: 50px;
}

.avatar-table .avatar {
    max-width: 55px;
}

.avatar-table td {
    padding-top: 20px !important;
}

.avatar-table .cell-btn-edit {
    padding-top: 13px !important;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/*
visitor list
*/

.visitor-card {
    margin-bottom: 10px;
}

.visitor-menu button {
    border-width: 0;
}

.visitor-img {
    text-align: center;
    margin-bottom: 10px;
}

.visitor-img img {
    max-width: 120px;
    max-height: 120px;
    padding: 3px;
    border: 1px solid #c8f9bc;
}
.visitor-name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-right: 36px;
}

.visitor-description {
    margin-bottom: 20px;
}

.visitor-info {
    color: #565a5f;
    margin-left: 10px;
}

.visitor-icons {
    text-align: center;
    margin-right: 36px;
}

.visitor-icons .btn-send-message {
    font-size: 14px;
    border-radius: 2em;
    padding: 6px 18px;
}

.visitor-notes blockquote {
    border-left: 3px solid #1b809e;
    font-size: 13px;
    margin: 0 0 20px;
    padding: 5px 10px;
    line-height: 1.1;
}

.menu-control-panel {
    padding: 20px 0;
}

#left-menu li a i {
    margin-right: 12px;
}
#left-menu .divider {
    border: 0 solid #e5e5e5;
    border-bottom-width: 1px;
}
#left-menu .subheader {
     margin-left: 40px;
     font-weight: bold;
     color: #2d6aaf;
 }
#left-menu li a {
    color: #3b73af;
}

#left-menu li a i{
    color: #707070;
}
.table-sm-center {
    text-align: center;
    max-width: 60px;
}

.two-rows {
    margin-top: -8px;
}

.color-gold {
    background-color: #FFD700;
    border-color: #FFD700;
    color: #333;
    font-weight: bold;
}
.color-silver {
    background-color: #C0C0C0;
    border-color: #C0C0C0;
    color: #fff;
    font-weight: bold;
}
.color-bronze {
    background-color: #cd7f32;
    border-color: #cd7f32;
    color: #fff;
    font-weight: bold;
}
.color-info {
    background-color: #1E90FF;
    border-color: #1E90FF;
    color: #fff;
    font-weight: bold;
}

.tab-offset {
    padding-top: 30px;
}
